body {
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.moon {
    position: absolute;
    top: 490px;
    left: 450px;
    width: 30px;
    height: 30px;
    background-image: url('https://static.typingclub.com/m/tpmedia/img/moon.png');
    background-size: cover;
    border-radius: 50%;
    animation: breathing 5s infinite alternate;
    transition: filter 0.5s;
}

.moon:hover {
    filter: brightness(90%);
}

.earth {
    position: absolute;
    top: 450px;
    left: 450px;
    width: 60px;
    height: 60px;
    background-image: url('https://clipart-library.com/image_gallery2/Earth-Free-Download-PNG.png');
    background-size: cover;
    border-radius: 50%;
    animation: breathing 5s infinite alternate;
    transition: filter 0.5s;
}

.earth:hover {
    filter: brightness(150%);
}


.saturn {
    position: absolute;
    top: 50px;
    left: 1220px;
    width: 350px;
    height: 350px;
    background-image: url(https://www.transparentpng.com/thumb/saturn/classic-saturn-clipart-png-bOLb9q.png);
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    transition: filter 0.5s;
}

.saturn:hover {
    filter: brightness(150%);
}

.mars {
	position: absolute;
	top: 600px;
	left: 300px;
	width: 100px;
	height: 100px;
	background-image: url('https://png.pngtree.com/png-clipart/20220616/original/pngtree-planet-mars-png-image_8081576.png');
	background-size: cover;
	background-color: transparent;
	border-radius: 50%;
	animation: breathing 5s infinite alternate;
	transition: filter 0.5s;
}
.mars:hover {
	filter: brightness(120%);
}
.sun {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 200px;
	height: 200px;
	background-image: url('https://images.rawpixel.com/image_png_400/czNmcy1w…dlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjk2My00MS5wbmc.png');
	background-size: cover;
	border-radius: 50%;
}
.neptune {
    position: absolute;
    top: 600px;
    left: 1200px;
    width: 100px;
    height: 100px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/Neptune_cutout.png/1200px-Neptune_cutout.png);
    background-size: cover;
    border-radius: 50%;
}

.jupiter {
	position: absolute;
	top: 300px;
	left: 300px;
	width: 100px;
	height: 100px;
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/e/e1/Jupiter_%28transparent%29.png);
	background-size: cover;
	background-color: transparent;
	border-radius: 50%;
	animation: breathing 5s infinite alternate;
	transition: filter 0.5s;
}
.jupiter:hover {
	filter: brightness(120%);
}

.sun {
	position: absolute;
	top: 200px;
	left: 650px;
	width: 500px;
	height: 500px;
	background-image: url(https://pngimg.com/d/sun_PNG13424.png);
	background-size: cover;
	background-color: transparent;
	border-radius: 50%;
	animation: breathing 5s infinite alternate;
	transition: filter 0.5s;
}
.sun:hover {
	filter: brightness(120%);
}

.star {
    position: absolute;
    width: 8px; 
    height: 8px;
    background-color: #fff;
    border-radius: 50%;
    animation: twinkling 3s infinite alternate;
}

.star:nth-of-type(1) {
    top: 100px;
    left: 200px;
    animation: twinkling 3s infinite alternate;
}

.star:nth-of-type(2) {
    top: 150px;
    left: 300px;
    animation: twinkling 2s infinite alternate;
}

.star:nth-of-type(3) {
    top: 200px;
    left: 400px;
    animation: twinkling 4s infinite alternate;
}



@keyframes breathing {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

@keyframes twinkling {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
	    opacity: 1;
    }
}

